<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Benefitting Agriculture - Project Application Page</title>
    
		<link href="css/custom.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">    
		    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/custom.js"></script>
    <script src="js/select.js"></script>
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
	</head>

	<body>
  	
    <!-- HEADER -->
    <header>    	
    	<div class="topbar">
      	<div class="container">
        	<div class="row">
          	<span class="col-sm-12">
              <ul>
                <li><a href="#">个人信息</a></li>
                <li><a href="#">我的项目</a></li>
                <li><a href="#">登录</a></li>
              </ul>
            </span>
          </div>
        </div>
      </div>
      <div class="logoContainer">
      	<div class="container">
        	<div class="row">
            <span class="col-sm-4 logoCol">
              <h1><a href="#"><img src="images/logo.png" alt="Benefitting Agriculture"/></a></h1>
            </span>
            <span class="col-sm-4 topNo">
              电话: <span>0800 556 2540</span>
            </span>
            <span class="col-sm-4">
              <form class="topSearch">
                <input type="text" placeholder="搜索"/>
                <a href="" class="glyphicon glyphicon-search"></a>
              </form>
            </span>
          </div>
        </div>
      </div>
      <nav>
      	<div class="container">
        	<div class="row">
          	<span class="col-sm-12">
            	<span class="mobileMenuIcon">菜单<a class="glyphicon glyphicon-align-justify"></a></span>
            	<ul>
              	<li class="current"><a href="#">我的项目</a></li>
                <li><a href="#">我的个人信息</a></li>
                <li><a href="#">更改密码</a></li>
              </ul>
            </span>
          </div>
        </div>
      </nav>      
    </header>
    <!-- /HEADER -->
    
    <!-- PAGE TITLE -->
    <div class="page-title withOutTitle">    	
    </div>
    <!-- /PAGE TITLE -->
    
    <!-- CONTENT SECTION -->
    <section class="contentSection">
    	<div class="container">
        <div class="row">        	
          <span class="col-sm-9 rightBorder equalCol">
						<h3 class="borderBottom">申报项目</h3>
            <form class="projectAppForm">
            	<ul>
              	<li>
                	拟的文字，内容使页面看起来实际
                  <div class="radioRow">
                    <span class="radioCustom radioCustom-checked"><input type="radio" checked><label>选项1</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项2</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项3</label></span>
                  </div>
                </li>
                <li>
                	拟的文字，内容使页面看起来实际拟的文字内容使页面看起来实际
                  <div class="radioRow">
                    <span class="radioCustom radioCustom-checked"><input type="radio" checked><label>选项1</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项2</label></span>
                  </div>
                </li>
                <li>
                	拟的文字，内容使页面看
                  <div class="radioRow">
                    <span class="radioCustom radioCustom-checked"><input type="radio" checked><label>选项1</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项2</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项3</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项4</label></span>
                  </div>
                </li>
                <li>
                	拟的文字，内容使页面看起来实际
                  <div class="radioRow">
                    <span class="radioCustom radioCustom-checked"><input type="radio" checked><label>选项1</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项2</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项3</label></span>
                  </div>
                </li>
                <li>
                	拟的文字，内容使页面看起来实际拟的文字内容使页面看起来实际
                  <div class="radioRow">
                    <span class="radioCustom radioCustom-checked"><input type="radio" checked><label>选项1</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项2</label></span>
                  </div>
                </li>
                <li>
                	拟的文字，内容使页面看
                  <div class="radioRow">
                    <span class="radioCustom radioCustom-checked"><input type="radio" checked><label>选项1</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项2</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项3</label></span>
                    <span class="radioCustom"><input type="radio"><label>选项4</label></span>
                  </div>
                </li>
              </ul>
              <div class="row">
								<aside class="userFormCol-1">姓名</aside>
                <aside class="userFormCol-right"><input type="text" class="width-172"></aside>
              </div>
              <div class="row">
								<aside class="userFormCol-1">职位</aside>
                <aside class="userFormCol-right"><input type="text" class="width-172"></aside>
              </div>
              <div class="row">
								<aside class="userFormCol-1">工作单位</aside>
                <aside class="userFormCol-right"><input type="text" class="width-281"></aside>
              </div>
              <div class="row">
								<aside class="userFormCol-1">单位地址</aside>
                <aside class="userFormCol-right">
                	<div class="width-87">
                  	<select>
                    	<option></option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                  <div class="width-87">
                  	<select>
                    	<option></option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                  <div class="width-87">
                  	<select>
                    	<option></option>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                  <input type="text" class="width-273">
                </aside>
              </div>
              <div class="row">
								<aside class="userFormCol-1">工作电话</aside>
                <aside class="userFormCol-right"><input type="text" class="width-281"></aside>
              </div>
              <div class="row">
								<aside class="userFormCol-1">电子邮件</aside>
                <aside class="userFormCol-right"><input type="text" class="width-281"></aside>
              </div>
              <div class="row">
								<aside class="userFormCol-1">手机号码</aside>
                <aside class="userFormCol-right"><input type="text" class="width-281"> <a href="#" class="white-bt">获取验证码</a></aside>
              </div>
              <div class="row">
								<aside class="userFormCol-1">验证码</aside>
                <aside class="userFormCol-right"><div class="width-87"><input type="text" /></div></aside>
              </div>
              <div class="row">
              	<input type="submit" value="提交"/>
              </div>
            </form>
          </span>
          <span class="col-sm-3 sidebar equalCol">
          	<h3>常见问题</h3>
              <div id="accordion" class="panel-group faqAccordion">
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="panel-toggle">
                      这仅仅是一个虚拟的文字 内容使页面看起来实际
                    </a>
                  </div><!-- end panel-heading -->
                  <div class="panel-collapse in" id="collapseOne">
                    <div class="panel-body">
                      这仅仅是一个虚拟的文字，内容使页面看起来实际.  这 仅仅是一个虚拟的文字，内 容使页面
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
                      拟的文字，内容使页
                    </a>
                  </div><!-- end panel-heading -->
                  <div class="panel-collapse collapse" id="collapseTwo">
                    <div class="panel-body">
                      这仅仅是一个虚拟的文字，内容使页面看起来实际.  这仅仅是一个虚拟的文字，内容使页面看起来实 拟的文字，内容使页面看起来实际
                    </div>
                  </div>
                </div>
                
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="panel-toggle collapsed">
                      这仅仅是一个虚拟的文字内 容使页面看起来实际
                    </a>
                  </div><!-- end panel-heading -->
                  <div class="panel-collapse collapse" id="collapseThree">
                    <div class="panel-body">
                      这仅仅是一个虚拟的文字，内容使页面看起来实际.  这仅仅是一个虚拟的文字，内容使页面看起来实 拟的文字，内容使页面看起来实际
                    </div>
                  </div>
                </div>
                
              </div>
              <p class="txtAlignRight">
              	有更多问题？请看<br/>
                <a href="#" class="orange-link">常见问题</a>
              </p>
          </span>
        </div>
      </div>
    </section>
    <!-- /CONTENT SECTION -->
    
    <!-- FOOTER -->
    <footer>
    	<div class="container">
        <div class="row">          
          <span class="col-sm-5 copyright">
            Copyright © 2000-2015 XXXX.com. All Rights Reserved. B2-20052010-6
          </span>
          <span class="col-sm-7">
            <ul>
            	<li><a href="#">关于我们</a></li>
              <li><a href="#">联系我们</a></li>
              <li><a href="#">网站地图</a></li>
              <li><a href="#">免责条款</a></li>
              <li><a href="#">应用服务</a></li>
              <li><a href="#">招聘信息</a></li>
            </ul>
          </span>          
        </div>
      </div>
      <div class="logosRow">
      	<img src="images/footer-logos.jpg"/>
      </div>
    </footer>
    <!-- /FOOTER -->
    
	</body>
</html>