<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
	    <setting name="cacheEnabled" value="true"/>
    </settings>

	<typeAliases>
    	<typeAlias type="com.sannong.infrastructure.persistance.entity.User" alias="User" />
    	<typeAlias type="com.sannong.infrastructure.persistance.entity.Application" alias="Application" />
        <typeAlias type="com.sannong.infrastructure.persistance.entity.SMS" alias="SMS" />
        <typeAlias type="com.sannong.infrastructure.persistance.entity.Province" alias="Province" />
        <typeAlias type="com.sannong.infrastructure.persistance.entity.City" alias="City" />
        <typeAlias type="com.sannong.infrastructure.persistance.entity.District" alias="District" />
        <typeAlias type="com.sannong.infrastructure.persistance.entity.Question" alias="Question" />
        <typeAlias type="com.sannong.infrastructure.persistance.entity.Answer" alias="Answer" />
    </typeAliases>
    
    <mappers>
    	<mapper resource="user.map.xml"/>
    	<mapper resource="application.map.xml"/>
    	<mapper resource="sms.map.xml"/>
    	<mapper resource="authority.map.xml"/>
    	<mapper resource="questionnaire.map.xml"/>
        <mapper resource="region.map.xml"/>
        <mapper resource="answer.map.xml"/>
    </mappers>
</configuration>