<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">  
<configuration>
    <settings>
	    <setting name="cacheEnabled" value="true"/>
    </settings>

	<typeAliases>
    	<typeAlias type="com.sannong.infrastructure.persistance.entity.User" alias="User" />
    	<typeAlias type="com.sannong.infrastructure.persistance.entity.Application" alias="Application" />
            	<typeAlias type="com.sannong.infrastructure.persistance.entity.SMS" alias="SMS" />
    </typeAliases>
    
    <mappers>
    	<mapper resource="user.map.xml"/>
    	<mapper resource="application.map.xml"/>
    	<mapper resource="sms.map.xml"/>
    </mappers>
    
</configuration>