.container {
	width: 960px;
}
.col-sm-1 {
	width: 8.33333333%;
}
.col-sm-2 {
	width: 16.66666667%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-4 {
	width: 33.33333333%;
}
.col-sm-5 {
	width: 41.66666667%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-7 {
	width: 58.33333333%;
}
.col-sm-8 {
	width: 66.66666667%;
}
.col-sm-9 {
	width: 75%;	
}
.col-sm-10 {
    width: 83.33333333%;
}
.col-sm-11 {
	width: 91.66666667%;
}
.col-sm-12 {
	width: 100%;	
}
.modal-dialog {
	width: 600px;
	margin: 30px auto;
}