<b:beans xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:tx="http://www.springframework.org/schema/tx"
         xmlns:context="http://www.springframework.org/schema/context"
         xmlns="http://www.springframework.org/schema/security" xmlns:sec="http://www.springframework.org/schema/security"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <tx:annotation-driven/>

    <!-- 不要过滤图片等静态资源，其中**代表可以跨越目录，*不可以跨越目录。 -->
    <sec:http pattern="/**/*.jsp" security="none"/>
    <sec:http pattern="/**/*.png" security="none"/>
    <sec:http pattern="/**/*.gif" security="none"/>
    <sec:http pattern="/**/*.css" security="none"/>
    <sec:http pattern="/**/*.js" security="none"/>

    <sec:http pattern="/**/*.eot" security="none"/>
    <sec:http pattern="/**/*.woff" security="none"/>
    <sec:http pattern="/**/*.svg" security="none"/>
    <sec:http pattern="/**/*.ttf" security="none"/>

    <!--
    <sec:http pattern="/signin.jsp" security="none"/>
    <sec:http pattern="/home.jsp" security="none"/>
    <sec:http pattern="/forgotpassword" security="none"/>
    <sec:http pattern="/faq" security="none"/>
    -->
    <sec:http auto-config="true" access-denied-page="/access-denied">
        <!-- anonymous enabled="false"></anonymous -->
        <sec:intercept-url pattern="/unitsManager" access="ROLE_PLATFORMADMIN"/>
        <sec:intercept-url pattern="/usersManager" access="ROLE_PLATFORMADMIN"/>
        <sec:intercept-url pattern="/horizontalQuery" access="ROLE_PLATFORMADMIN"/>

        <!--intercept-url pattern="/signin" access="ROLE_USER, ROLE_ANONYMOUS"/-->
        <sec:intercept-url pattern="/myinfo" access="ROLE_USER, ROLE_ADMIN"/>
        <sec:intercept-url pattern="/mypassword" access="ROLE_USER, ROLE_ADMIN"/>

        <!--
        <sec:intercept-url pattern="/questionnaire" access="ROLE_USER, ROLE_ADMIN"/>
        -->

        <!-- user enabled="true"></user -->
        <sec:intercept-url pattern="/myapplication" access="ROLE_USER"/>

        <!-- admin enabled="true"></admin -->
        <sec:intercept-url pattern="/applicants" access="ROLE_ADMIN"/>


        <sec:form-login login-page="/signin"
                    authentication-failure-url="/authentication-failure"
                    default-target-url="/authentication-success"/>

        <sec:logout invalidate-session="true"
                    logout-url="/j_spring_security_logout" logout-success-url="/home"/>

        <sec:remember-me data-source-ref="dataSource" user-service-ref="userDetailsManager"/>

        <sec:session-management invalid-session-url="/home"/>

    </sec:http>

    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider user-service-ref="userDetailsManager">
            <sec:password-encoder ref="passwordEncoder">
                <sec:salt-source user-property="username"/>
            </sec:password-encoder>
        </sec:authentication-provider>
    </sec:authentication-manager>

    <b:bean id="userDetailsManager"
            class="org.springframework.security.provisioning.JdbcUserDetailsManager">
        <b:property name="dataSource" ref="dataSource"/>
    </b:bean>

    <!--   事件监听:实现了 ApplicationListener监听接口，包括AuthenticationCredentialsNotFoundEvent 事件，
   AuthorizationFailureEvent事件，AuthorizedEvent事件， PublicInvocationEvent事件 -->
    <b:bean class="org.springframework.security.authentication.event.LoggerListener"/>

    <!-- 用户的密码加密或解密 -->
    <b:bean id="passwordEncoder"
            class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>

    <b:bean id="webexpressionHandler"
            class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
    <!--
    <b:bean id="userDetailsService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <b:property name="dataSource" ref="dataSource"/>
    </b:bean>
    -->
</b:beans>



